body {
  background-color: rgba(173, 237, 228, 0.578);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.projects-list {
  list-style: none;
}

.project {
  display: block;
  padding: 10px;
}

.project a {
  text-transform: uppercase;
  text-decoration: none;
  color: rgba(13, 35, 32, 0.578);

  font-weight: 700;
  font-size: 25px;
  transition: all 0.3s ease-in-out;
}

.project a:hover {
  color: rgb(167, 69, 69);
}